    </main>
    <footer>
      <div class="legal">
        <p>Copyright &copy; 2002-{{ site.time | date: '%Y' }} by Asia Hoe, unless otherwise noted.</p>
      </div>
      <ul>
      {% for social in site.data.social %}{% if social.type == "career" %}
        <li class="{% if social.fa-icon == null %}{{ social.network | downcase }}{% else %}{{ social.fa-icon }}{% endif %}"><a href="{{ social.url }}"><i class="fa fa-{% if social.fa-icon == null %}{{ social.network | downcase }}{% else %}{{ social.fa-icon }}{% endif %} fa-fw"></i> {{ social.network }}</a></li>
      {% endif %}{% endfor %}
      </ul>
    </footer>
  </div>
  <script async src="//platform.twitter.com/widgets.js"></script>
  <script async src="/assets/js/analytics.js"></script>
  <noscript><p><img src="//analytics.asiahoe.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
</body>
</html>