@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "font-awesome/font-awesome";

// General

body {
  margin: 0 $gutter;
}

.container {
  @include outer-container;
}

main {
  @include outer-container;
  margin-top: $gutter*3;

  @include media($medium-screen) {
    margin-top: $gutter*4;
  }
}

// Header

.masthead {
  @include pad(0 $gutter);
  @include position(0 0 null 0);
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: $base-border;
  position: fixed;
  z-index: 999;

  .identity {
    @include span-columns(8);
    font-size: $h3-font-size;
    line-height: $h3-font-size;

    @include media($medium-screen) {
      @include span-columns(4);
      font-size: $h2-font-size;
    }
  }

  nav {
    @include span-columns(4);
    direction: rtl;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;

    @include media($medium-screen) {
      @include span-columns(8);
      direction: ltr;
    }

    li {
      @include span-columns(2 of 4);
      font-size: $h3-font-size;
      line-height: $header-line-height;

      @include media($medium-screen) {
        @include span-columns(4 of 8);
        font-size: $h5-font-size;
        line-height: $header-line-height + $h5-font-size;
      }

      a {
        visibility: hidden;

        @include media($medium-screen) {
          visibility: visible;
        }
      }

      i {
        visibility: visible;
      }
    }
  }
}

.bio {
  @include outer-container;
  @include pad(0 0 $gutter);
  border-bottom: $base-border;
  font-size: 1.15em;
  margin-bottom: $gutter/2;

  @include media($medium-screen) {
    font-size: $h5-font-size;

    .intro {
      @include span-columns(8);
    }
  }

  img {
    display: none;

    @include media($medium-screen) {
      @include span-columns(4);
      border-radius: 50%;
      display: block;
    }
  }
}

.bio a, .live a {
  @extend button;
  @include span-columns(12);
  @include transition(background-color 1.0s ease);
  margin-bottom: $gutter;
  text-align: center;

  @include media($medium-screen) {
    @include span-columns(4 of 8);
  }

  &:hover {
    background-color: darken($base-accent-color, 10);
  }

  &:nth-child(2) {
    background-color: lighten($base-accent-color, 45);
    color: $base-accent-color;
  }

  &:nth-child(2):hover {
    background-color: lighten($base-accent-color, 40);
  }
}

// About

.about {
  img {
    @include pad($gutter);
    background-color: #FFF;
    border: $base-border;
  }

  @include media($medium-screen) {
    img {
      @include span-columns(5);
    }

    .story {
      @include span-columns(7);
    }

    p {
      font-size: $h6-font-size;
    }
  }
}
// Contact Form

fieldset {

  select {
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
  }

  @include media($medium-screen) {
    input, select {
      max-width: 25%;
    }

    textarea {
      max-width: 50%;
    }
  }
}

.filter {
  display: none;
}

// Portfolio

.strategy {
  @include media($medium-screen) {
    p {
      font-size: $h5-font-size;
    }
  }
}

.works {
  @include outer-container;

  ul.work-items {

    > li {
      @include transition(opacity, 1.0s, ease);
      margin: $gutter 0;
      text-align: center;

      &:hover {
        opacity: 0.75;
      }

      // Apply opacity transition to li due to Chrome bug with images.

      @include media($medium-screen-up) {
        @include span-columns(6);
        @include omega(2n);
      }

      @include media($large-screen-up) {
        @include span-columns(4);
        @include omega(3n);
      }

      img {
        max-height: 12.5em;
      }

      h3 {
        font-size: $h6-font-size;
        font-weight: 500;
      }

      li {
        display: inline;
      }
    }
  }
}

article {
  h2 {
    font-size: $h4-font-size;
  }

  h3 {
    font-size: $h5-font-size;
  }

  h4 {
    font-size: $h6-font-size;
  }

  @include media($medium-screen) {
    h2 {
      font-size: $h2-font-size;
    }

    h3 {
      font-size: $h3-font-size;
    }

    h4 {
      font-size: $h4-font-size;
    }

    p {
      font-size: $h6-font-size;
    }

    section {
      ul {
        font-size: $h6-font-size;
        list-style: square;
        margin-left: $gutter;
      }
    }
  }

  header, section {
    @include media($large-screen) {
      @include pad(0 $gutter*6);
    }
  }

  header {
    ul {
      margin: $gutter 0;
      text-align: center;

      li {
        @include pad(0 $gutter/3);
        display: inline;

        @include media($medium-screen) {
          font-size: $h6-font-size;
        }
      }
    }

    img {
      display: block;
      margin: 0 auto $gutter;
    }

    p {
      clear: both;
    }
  }

  section {
    img {
      @include pad($gutter);
      background-color: lighten($light-gray, 10);
      border: $base-border;
    }
  }

  figure {
    margin: 0;
  }

  nav {
    @include pad($gutter 0 0);
    border-top: $base-border;
    font-size: $h4-font-size;
    margin-top: $gutter;
    overflow: hidden;
    white-space: nowrap;

    @include media($medium-screen) {
      font-size: $h5-font-size;
    }

    li {
      @include span-columns(4);

      a {
        visibility: hidden;

        i {
          visibility: visible;
        }
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(3) {
        direction: rtl;
        text-align: right;
      }

      @include media($medium-screen) {
        a {
          visibility: visible;
        }
      }
    }
  }
}

// Footer

footer {
  @include outer-container;
  @include pad($gutter 0 0);
  margin-top: $gutter;
  border-top: $base-border;
  text-align: center;

  @include media($medium-screen) {
    margin-bottom: $gutter;
  }

  .legal {
    @include media($medium-screen) {
      font-size: 1.15em;
    }

    @include media($large-screen) {
      @include span-columns(4);
      text-align: left;
    }
  }

  li {
    @include span-columns(3);
    font-size: 3em;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;

    @include media($medium-screen) {
      @include span-columns(3);
      font-size: $h6-font-size;
    }

    @include media($large-screen) {
      @include span-columns(2);
      text-align: right;
    }

    a {
      visibility: hidden;

      @include media($medium-screen) {
        visibility: visible;
      }

      i {
        visibility: visible;
      }
    }

    // Refactor: Use the superpowers of Sass to stay DRY.

    &.dribbble a {
      color: $dribbble-pink;
    }
    &.dribbble a:hover {
      color: darken($dribbble-pink, 15);
    }
    &.github a {
      color: $github-blue;
    }
    &.github a:hover {
      color: darken($github-blue, 15);
    }
    &.linkedin a {
      color: $linkedin-blue;
    }
    &.linkedin a:hover {
      color: darken($linkedin-blue, 15);
    }
    &.twitter a {
      color: $twitter-blue;
    }
    &.twitter a:hover {
      color: darken($twitter-blue, 15);
    }
  }
}
